<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../public/javascripts/jquery/jquery-1.11.3.js"></script>

    <script type="text/javascript">
        function print() {
            console.log('clicked');
            var data = {urlAddress: $('#urlField').val()};
            alert(data);
            $.ajax({
                url: '/print',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function (returned) {
                    alert(returned);
                },
                error: function (returned) {
                    alert('Problems on parsing web page to pdf...\n' + returned.status + ' ' + returned.Content-Type );
                }
            });
        }
    </script>


</head>
<body>
<input type="button" value="Download" id="download" onclick="print()">
<input type="text" id="urlField">
</body>
</html>